📑 Invoice from e-mails processing.json
{
  "name": "📑 Invoice from e-mails processing",
  "nodes": [
    {
      "parameters": {
        "content": "## 📄 Automated Invoice Processing (n8n + AI + Google Workspace)\n\nThis workflow automatically extracts key invoice data from PDFs uploaded to a Google Drive folder.\n\nIt uses **Gmail, Google Drive, Gemini AI, and Google Sheets** to:\n- Detect new email from invoicers\n- Extract structured information (Supplier, Items, Total, etc.) from the attachment or the body of the e-mail\n- Append data into a spreadsheet\n- (Send email notifications)\n\n**Here is the mock folder and google sheet to replicate:**\nhttps://drive.google.com/drive/folders/1VvF5dGMl1mWXClKMWMJl2q_zlnOW5mQd?usp=share_link",
        "height": 456,
        "width": 400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3584,
        -976
      ],
      "name": "Intro Sticky",
      "id": "17b4907e-e4f2-458e-9996-a2a998597e05"
    },
    {
      "parameters": {
        "content": "## ⚙️ Setup Before Running\n1. Connect your **Google Drive, Google Sheets, Google Gemini (AI) and Gmail** credentials.\n2. Update the folder ID in the Google Drive Trigger to match your own 'Invoices' folder.\n3. Create or link a Google Sheet to store invoice data.\n4. Create or link a Google Sheet to store logs of the automation\n5. Modify the emails notification systems",
        "height": 452,
        "width": 268
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3152,
        -976
      ],
      "name": "Setup Sticky",
      "id": "c6145c3d-fe57-487f-8c13-396f22fc7ce6"
    },
    {
      "parameters": {
        "content": "## 📧 Notify When Done\n\n**Sends an email confirmation after successful invoice processing.**\n\n-> Customize the email message in the Gmail node, or disable this step if not needed.",
        "height": 416,
        "width": 252,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -960
      ],
      "name": "Gmail Sticky",
      "id": "b7d446f8-1d5d-4853-9cd8-390be79a7b44"
    },
    {
      "parameters": {
        "content": "## ✨ Extend This Workflow\n\n### You can expand this automation by:\n- Connecting to ERP or CRM systems\n- Sending Slack / Telegram alerts\n- Adding more error handling and retry logic\n- Generate a report for tracking the use of the tool (dashboard, KPI metrics etc.)\n- Add another workflow for errors notification (see settings)",
        "height": 416,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -960
      ],
      "name": "Extend Sticky",
      "id": "b7443e22-07eb-4951-b6ab-5784fcf7d873"
    },
    {
      "parameters": {
        "sendTo": "pro.ldelahaye@gmail.com",
        "subject": "Invoice processed",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Bill Processing Report</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f4f4f4;\n        }\n        .container {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 30px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        h1 {\n            color: #2c3e50;\n            font-size: 24px;\n            margin-bottom: 20px;\n            border-bottom: 3px solid #3498db;\n            padding-bottom: 10px;\n        }\n        .greeting {\n            margin-bottom: 20px;\n            font-size: 16px;\n        }\n        .info-section {\n            background-color: #f8f9fa;\n            border-left: 4px solid #3498db;\n            padding: 15px;\n            margin: 20px 0;\n            border-radius: 4px;\n        }\n        .info-item {\n            margin: 12px 0;\n        }\n        .label {\n            font-weight: bold;\n            color: #2c3e50;\n            display: inline-block;\n            min-width: 120px;\n        }\n        .value {\n            color: #555;\n            word-break: break-word;\n        }\n        .body-content {\n            background-color: #fff;\n            border: 1px solid #ddd;\n            padding: 15px;\n            margin-top: 10px;\n            border-radius: 4px;\n            white-space: pre-wrap;\n            font-family: 'Courier New', monospace;\n            font-size: 13px;\n        }\n        .footer {\n            margin-top: 30px;\n            padding-top: 20px;\n            border-top: 1px solid #ddd;\n            font-size: 12px;\n            color: #777;\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1>Bill Processing Automation Report</h1>\n        \n        <p class=\"greeting\">Dear recipient,</p>\n        \n        <p>The automation tool for the processing of bills has run today (<strong>{{ $now.format('dd/LL/yyyy') }}</strong>).</p>\n        \n        <div class=\"info-section\">\n            <h2 style=\"margin-top: 0; font-size: 18px; color: #2c3e50;\">Email Details</h2>\n            \n            <div class=\"info-item\">\n                <span class=\"label\">Email ID:</span>\n                <span class=\"value\">{{ $('Gmail Reader').item.json.id }}</span>\n            </div>\n            \n            <div class=\"info-item\">\n                <span class=\"label\">From:</span>\n                <span class=\"value\">{{ $('Gmail Reader').item.json.from.value[0].address }}</span>\n            </div>\n            \n            <div class=\"info-item\">\n                <span class=\"label\">Subject:</span>\n                <span class=\"value\">{{ $('Gmail Reader').item.json.subject }}</span>\n            </div>\n            \n            <div class=\"info-item\">\n                <span class=\"label\">Attachments:</span>\n                <span class=\"value\">{{ $('Gmail Reader').item.binary?.attachment_0 ? \"Yes\" : \"No\" }}</span>\n            </div>\n        </div>\n        \n        <div class=\"info-section\">\n            <h2 style=\"margin-top: 0; font-size: 18px; color: #2c3e50;\">Email Body</h2>\n            <div class=\"body-content\">{{ $('Gmail Reader').item.json.text }}</div>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated message from the bill processing system.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -320,
        -704
      ],
      "id": "b2b0ea8b-9f1a-45ba-a017-32f906ba339d",
      "name": "Send a message1",
      "webhookId": "8783a094-d477-4a8a-af9c-ce6fa4c5bb29",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Triggers every minutes and continues when  a new email arrives ⚡️ \n- Take e-mails from all inboxes\n- Only unread e-mails \n- **Only e-mails from:**\n[SELECT THE SENDER ADRESS]",
        "height": 448,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        -976
      ],
      "typeVersion": 1,
      "id": "47f247ba-6d74-4343-a49f-6fb16d5e7c1b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1MKU7M-Szmz5vKnSZtQZNTvU6DqhTl2PT",
          "mode": "list",
          "cachedResultName": "Bills_and_invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MKU7M-Szmz5vKnSZtQZNTvU6DqhTl2PT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2192,
        -848
      ],
      "id": "daae2f39-8eb0-4fdf-9610-ff959c22e93b",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Po7mMxCzJc0VLWiF",
          "name": "Google Drive account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Store the attachment on google drive 📑\nThis step is not mandatory but recommended \n-> select the specific folder for your use",
        "height": 352,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        -1072
      ],
      "typeVersion": 1,
      "id": "aec7d185-550c-475e-93d2-c50457840877",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac51e199-08ea-4abc-bf0a-2cd1ff5b1f65",
              "name": "text",
              "value": "={{ $('Gmail Reader').item.json.text }}",
              "type": "string"
            },
            {
              "id": "953acd9b-cb51-4ddd-be7a-89d17e045082",
              "name": "Company",
              "value": "={{ $('Gmail Reader').item.json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "d20b093f-82f2-4e2c-9ab3-cdae53073483",
              "name": "email adress",
              "value": "={{ $('Gmail Reader').item.json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "e312ebe0-5947-44fc-995c-bab516e387c8",
              "name": "Subject",
              "value": "={{ $('Gmail Reader').item.json.headers.subject.replace(\"Subject: \",\"\") }}",
              "type": "string"
            },
            {
              "id": "fb0207f8-0f99-432f-8928-3cdab1d397cb",
              "name": "date",
              "value": "={{ $('Gmail Reader').item.json.date }}",
              "type": "string"
            },
            {
              "id": "888c3c4b-59c0-4251-91f3-0c9ddf58d0f5",
              "name": "=attachment_0",
              "value": "={{ $('Gmail Reader').item.binary['attachment_0'] }}",
              "type": "binary"
            },
            {
              "id": "7be81854-ef26-4251-b396-62337564d19d",
              "name": "email_id",
              "value": "={{ $('Gmail Reader').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -848
      ],
      "id": "5154b1b8-bc1c-40a5-9b0d-ca9a45127b59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=## Role and Objective\nYou are an AI assistant specialized in analyzing emails that contain or attach invoices/bills from the real estate industry (rent invoices, utility bills such as gas, electricity, water, internet, phone, service charges, ground rent, insurance, management fees, etc.). Your task is to read the entire email (subject + body + any text extracted from attached PDFs/images) and extract exactly the same structured information as if the invoice were provided directly.\n\n## Instructions\nExtract the following fields when available anywhere in the email (subject line, body, or embedded/attached invoice text). If a field cannot be found, return an empty string (\"\").\n\n- **AccountNumber**: Tenant/account/customer reference number\n- **InvoiceNumber**: Invoice, bill, or statement number\n- **ReferenceNumber**: Any alternative reference (property ref, customer ref, etc.)\n- **InvoiceDate**: Issue date of the invoice/bill\n- **DueDate**: Payment due date or direct debit date\n- **BillingPeriodStart**: Start date of the billing/consumption period\n- **BillingPeriodEnd**: End date of the billing/consumption period\n- **BalanceBroughtForward**: Previous balance carried forward\n- **NewCharges**: Total new charges for the current period\n- **TotalAmountDue**: Final total amount payable\n- **ServiceType**: Type of service being billed (choose among \"Rent\", \"Gas\", \"Electricity\", \"Water\", \"Internet\", \"Phone\", \"Service Charge\", \"Ground Rent\", \"Insurance\", \"Management Fee\", \"Heating\", \"TV Licence\", etc.).  \n  → If multiple services, use the primary one or \"Mixed/Multiple\".\n- **SupplierName**: Name of the landlord, property manager, utility provider, or vendor\n- **SupplierAddress**: Supplier/landlord/utility company address (if mentioned)\n- **PropertyAddress**: The rented property or premises referred to in the email\n- **TenantName**: Name of the tenant or company being billed\n- **TenantAddress**: Tenant address (if different from property address)\n- **PaymentMethod**: Any mentioned payment method (Direct Debit, BACS, bank transfer details, etc.)\n- **Items**: All individual charge lines mentioned. For each:\n  1. Description (e.g., \"Monthly rent\", \"Gas consumption\", \"Broadband\", \"Service charge\")\n  2. Amount (keep original currency/format)\n  3. Period (if specified)\n  4. VAT/Tax (if shown separately)\n- **TaxAmount**: Total VAT/tax amount (if separately stated)\n- **NextMeterReadDate**: Next scheduled meter reading or measurement date\n- **Notes**: Any additional important details from the email (payment instructions, contact info, warnings, references, attached file names, etc.)\n- **EmailSubject**: Full subject line of the email (for traceability)\n- **EmailDate**: Date the email was sent (if visible in the header or body)\n\n## Formatting Rules\n- Always return the result in clean JSON format only.\n- Use arrays for multiple entries (especially Items).\n- If a field is missing → \"\" (empty string).\n- Keep dates and amounts exactly as they appear in the email.\n- Do not add commentary or explanations outside the JSON.\n\n## Bad input and errors: \n- If extraction is possible even partially → return clean JSON exactly as before.\n- If confidence is too low or document is not a real invoice/bill → return only: `bad input`\n\n### Example Output (JSON)\n{\n  \"AccountNumber\": \"900412587\",\n  \"InvoiceNumber\": \"BILL-2025-114523\",\n  \"ReferenceNumber\": \"PROP-8871\",\n  \"InvoiceDate\": \"2025-10-05\",\n  \"DueDate\": \"2025-10-20\",\n  \"BillingPeriodStart\": \"2025-08-28\",\n  \"BillingPeriodEnd\": \"2025-09-27\",\n  \"BalanceBroughtForward\": \"£12.45\",\n  \"NewCharges\": \"£87.33\",\n  \"TotalAmountDue\": \"£99.78\",\n  \"ServiceType\": \"Gas\",\n  \"SupplierName\": \"British Gas\",\n  \"SupplierAddress\": \"\",\n  \"PropertyAddress\": \"Flat 12, Riverside House, 25 Quay Road, Manchester, M1 2AB\",\n  \"TenantName\": \"TechStart Solutions Ltd\",\n  \"TenantAddress\": \"\",\n  \"PaymentMethod\": \"Direct Debit\",\n  \"Items\": [\n    {\n      \"Description\": \"Gas used\",\n      \"Amount\": \"£67.20\",\n      \"Period\": \"28/08/2025 - 27/09/2025\",\n      \"VAT\": \"£3.36\"\n    },\n    {\n      \"Description\": \"Standing charge\",\n      \"Amount\": \"£20.13\",\n      \"Period\": \"\",\n      \"VAT\": \"£1.01\"\n    }\n  ],\n  \"TaxAmount\": \"£4.37\",\n  \"NextMeterReadDate\": \"2025-12-27\",\n  \"Notes\": \"Please find your latest gas bill attached. Estimated reading used this month.\",\n  \"EmailSubject\": \"Your British Gas bill for Flat 12 Riverside House – £99.78 due 20 Oct\",\n  \"EmailDate\": \"2025-10-05\"\n}",
        "inputType": "binary",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1696,
        -848
      ],
      "id": "6ededc3d-2287-4603-9396-db4e8976a7db",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "FGkCpwjwdHngwi9v",
          "name": "Google Gemini(PaLM) Api account Louis Console"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1920,
        -400
      ],
      "id": "a6be9c6a-b475-4097-b91c-8672c7da9226",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FGkCpwjwdHngwi9v",
          "name": "Google Gemini(PaLM) Api account Louis Console"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the email info:\nFrom:\n{{ $json['email adress'] }}\n\nCompany:\n{{ $json.Company }}\n\nDate: \n{{ $json.date }}\n\nSubject \n{{ $json.Subject }}\n\n\nBody of the email:\n{{ $json.email_body_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Role and Objective\nYou are an assistant specialized in analyzing invoices and bills from the real estate industry (utility bills such as gas/electricity/water, rent invoices, service charge invoices, management fees, etc.). Your role is to extract structured information and organize it according to the specific categories relevant to real estate-related invoicing.\n\n## Instructions\nExtract the following fields when available. If a field does not exist or cannot be identified, return an empty string (\"\").\n\n- **AccountNumber**: Tenant/account/reference number identifying the property or customer\n- **InvoiceNumber**: Invoice, bill, or statement number\n- **ReferenceNumber**: Any alternative reference (e.g., customer reference, property reference)\n- **InvoiceDate**: Date the invoice was issued\n- **DueDate**: Payment due date (or direct debit date if applicable)\n- **BillingPeriodStart**: Start date of the billing/consumption period\n- **BillingPeriodEnd**: End date of the billing/consumption period\n- **BalanceBroughtForward**: Previous balance carried forward (if shown)\n- **NewCharges**: Total new charges for the current period\n- **TotalAmountDue**: Final total amount payable (including any balance brought forward)\n- **ServiceType**: Type of service being billed (choose among \"Rent\", \"Gas\", \"Electricity\", \"Water\", \"Internet\", \"Phone\", \"Service Charge\", \"Ground Rent\", \"Insurance\", \"Management Fee\", \"Heating\", \"TV Licence\", etc.).  \n  → If multiple services, use the primary one or \"Mixed/Multiple\".\n- **SupplierName**: Name of the landlord, property management company, utility provider, or vendor issuing the invoice\n- **SupplierAddress**: Full address of the supplier/landlord/utility company (if shown)\n- **PropertyAddress**: The rented property or premises the invoice refers to\n- **TenantName**: Name of the tenant or company being billed\n- **TenantAddress**: Address of the tenant (if different from property address)\n- **PaymentMethod**: Indicated payment method (e.g., Direct Debit, BACS, standing order) and any relevant details\n- **Items**: Breakdown of charges. For each charge/line item extract:\n  1. Description (choose among \"Rent\", \"Gas consumption\", \"Service charge\", \"Ground rent\", \"Insurance\", \"Management fee\", \"Water charges\", etc.)\n  2. Amount (keep original currency and format)\n  3. Period (if specified separately)\n  4. VAT/Tax amount (if shown separately)\n- **TaxAmount**: Total tax/VAT amount (if separately itemized)\n- **NextMeterReadDate**: Next scheduled meter reading or measurement date (common on utility bills)\n- **Notes**: Any additional important information, payment instructions, contact details, or references\n\n## Formatting Rules\n- Present the extracted information in JSON format.\n- Use arrays for multiple entries (especially for Items).\n- If a category is missing on the invoice, return it as an empty string (\"\").\n- Keep text concise.\n- Dates should be kept in the same format as found on the invoice (e.g., “2025-09-29” or “29 Sep 2025”).\n- Amounts should retain the same currency and format as on the invoice (e.g., \"£1,250.00\" or \"€1.250,00\").\n\n## Bad input and errors: \n- If extraction is possible even partially → return clean JSON exactly as before.\n- Only if confidence is too low or email is not a real invoice/billing email → return `bad input' in every field of the json\n\n### Example Output (JSON)\n{\n  \"AccountNumber\": \"900412587\",\n  \"InvoiceNumber\": \"BILL-2025-114523\",\n  \"ReferenceNumber\": \"PROP-8871\",\n  \"InvoiceDate\": \"2025-10-05\",\n  \"DueDate\": \"2025-10-20\",\n  \"BillingPeriodStart\": \"2025-08-28\",\n  \"BillingPeriodEnd\": \"2025-09-27\",\n  \"BalanceBroughtForward\": \"£12.45\",\n  \"NewCharges\": \"£87.33\",\n  \"TotalAmountDue\": \"£99.78\",\n  \"ServiceType\": \"Gas\",\n  \"SupplierName\": \"British Gas\",\n  \"SupplierAddress\": \"\",\n  \"PropertyAddress\": \"Flat 12, Riverside House, 25 Quay Road, Manchester, M1 2AB\",\n  \"TenantName\": \"TechStart Solutions Ltd\",\n  \"TenantAddress\": \"\",\n  \"PaymentMethod\": \"Direct Debit\",\n  \"Items\": [\n    {\n      \"Description\": \"Gas used\",\n      \"Amount\": \"£67.20\",\n      \"Period\": \"28/08/2025 - 27/09/2025\",\n      \"VAT\": \"£3.36\"\n    },\n    {\n      \"Description\": \"Standing charge\",\n      \"Amount\": \"£20.13\",\n      \"Period\": \"\",\n      \"VAT\": \"£1.01\"\n    }\n  ],\n  \"TaxAmount\": \"£4.37\",\n  \"NextMeterReadDate\": \"2025-12-27\",\n  \"Notes\": \"Please find your latest gas bill attached. Estimated reading used this month.\",\n  \"EmailSubject\": \"Your British Gas bill for Flat 12 Riverside House – £99.78 due 20 Oct\",\n  \"EmailDate\": \"2025-10-05\"\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1920,
        -592
      ],
      "id": "350b0567-4fe2-438c-97fe-c0a5b6032d23",
      "name": "AI Agent - get targeted elements from text"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"AccountNumber\": \"900412587\",\n  \"InvoiceNumber\": \"BILL-2025-114523\",\n  \"ReferenceNumber\": \"PROP-8871\",\n  \"InvoiceDate\": \"2025-10-05\",\n  \"DueDate\": \"2025-10-20\",\n  \"BillingPeriodStart\": \"2025-08-28\",\n  \"BillingPeriodEnd\": \"2025-09-27\",\n  \"BalanceBroughtForward\": \"£12.45\",\n  \"NewCharges\": \"£87.33\",\n  \"TotalAmountDue\": \"£99.78\",\n  \"ServiceType\": \"Gas\",\n  \"SupplierName\": \"British Gas\",\n  \"SupplierAddress\": \"\",\n  \"PropertyAddress\": \"Flat 12, Riverside House, 25 Quay Road, Manchester, M1 2AB\",\n  \"TenantName\": \"TechStart Solutions Ltd\",\n  \"TenantAddress\": \"\",\n  \"PaymentMethod\": \"Direct Debit\",\n  \"Items\": [\n    {\n      \"Description\": \"Gas used\",\n      \"Amount\": \"£67.20\",\n      \"Period\": \"28/08/2025 - 27/09/2025\",\n      \"VAT\": \"£3.36\"\n    },\n    {\n      \"Description\": \"Standing charge\",\n      \"Amount\": \"£20.13\",\n      \"Period\": \"\",\n      \"VAT\": \"£1.01\"\n    }\n  ],\n  \"TaxAmount\": \"£4.37\",\n  \"NextMeterReadDate\": \"2025-12-27\",\n  \"Notes\": \"Please find your latest gas bill attached. Estimated reading used this month.\",\n  \"EmailSubject\": \"Your British Gas bill for Flat 12 Riverside House – £99.78 due 20 Oct\",\n  \"EmailDate\": \"2025-10-05\"\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1760,
        -384
      ],
      "id": "e565784e-30a9-4974-85f4-04c61c99a19a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp-02-05",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1712,
        -272
      ],
      "id": "424c2bfe-b5cb-487e-ba0c-4aae1af52e00",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "FGkCpwjwdHngwi9v",
          "name": "Google Gemini(PaLM) Api account Louis Console"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the text content\nconst textContent = $input.first().json.content.parts[0].text;\n\n// Remove the ```json and ``` markdown code fences\nconst cleanedText = textContent.replace(/```json\\n?|\\n?```/g, '').trim();\n\n// Parse the JSON\nconst parsedData = JSON.parse(cleanedText);\n\n// Return the parsed data\nreturn {\n  json: parsedData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        -848
      ],
      "id": "a7812f68-e772-4336-ab07-0b10570f1dc1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI",
          "mode": "list",
          "cachedResultName": " Bills Electricity and  Gas -Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1116703158,
          "mode": "list",
          "cachedResultName": "Monitoring",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit#gid=1116703158"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_email": "={{ $('Gmail Reader').item.json.id }}",
            "Email date": "={{ $('Edit Fields').item.json.date }}",
            "From": "={{ $('Edit Fields').item.json['email adress'] }}",
            "has_attachment": "yes",
            "Attachment name": "={{ $('Upload file').item.json.name }}",
            "Processed": "yes",
            "Date of processing": "={{ $now.format('yyyy-MM-dd') }}",
            "Supplier": "={{ $('Edit Fields').item.json.Company }}"
          },
          "matchingColumns": [
            "ID_email"
          ],
          "schema": [
            {
              "id": "ID_email",
              "displayName": "ID_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email date",
              "displayName": "Email date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_attachment",
              "displayName": "has_attachment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Attachment name",
              "displayName": "Attachment name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of processing",
              "displayName": "Date of processing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -736,
        -848
      ],
      "id": "73977092-67e2-4a43-bcdf-57c37044bd62",
      "name": "Log the processing of the doc",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cyiPydGhN9qgZrd",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI",
          "mode": "list",
          "cachedResultName": " Bills Electricity and  Gas -Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.SupplierName }}",
            "email adress": "={{ $('Edit Fields').item.json['email adress'] }}",
            "Subject": "={{ $('Edit Fields').item.json.Subject }}",
            "email date": "={{ $('Edit Fields').item.json.date }}",
            "Account Number": "={{ $json.AccountNumber }}",
            "Invoice Number": "={{ $json.InvoiceNumber }}",
            "Issue Date": "={{ $json.InvoiceDate }}",
            "balance brought forward": "={{ $json.BalanceBroughtForward }}",
            "Total payable amount": "={{ $json.TotalAmountDue }}",
            "Direct debit date/Due Date": "={{ $json.DueDate }}",
            "New Charges": "={{ $json.NewCharges }}",
            "Billing Period Start date": "={{ $json.BillingPeriodStart }}",
            "Billing Period End date": "={{ $json.BillingPeriodEnd }}",
            "Next Measurement": "={{ $json.NextMeterReadDate }}",
            "Service": "={{ $json.ServiceType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "# property ",
              "displayName": "# property ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email adress",
              "displayName": "email adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email date",
              "displayName": "email date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Number",
              "displayName": "Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue Date",
              "displayName": "Issue Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "balance brought forward",
              "displayName": "balance brought forward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total payable amount",
              "displayName": "Total payable amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direct debit date/Due Date",
              "displayName": "Direct debit date/Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "New Charges",
              "displayName": "New Charges",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing Period Start date",
              "displayName": "Billing Period Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing Period End date",
              "displayName": "Billing Period End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Measurement",
              "displayName": "Next Measurement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -976,
        -848
      ],
      "id": "36fd676e-2d88-47de-96f3-ae3f8a32ebbe",
      "name": "Update invoice Fields",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cyiPydGhN9qgZrd",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.attachment_0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1d0edd0f-5ef1-4486-9da9-c8c50a7caee7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "with attachment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63e36836-7b5f-4f0b-9fb4-8edc54fdbc50",
                    "leftValue": "={{ $binary.attachment_0 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Without attachment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2448,
        -736
      ],
      "id": "142926f2-9399-487b-bdb6-c1ce188e7306",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac51e199-08ea-4abc-bf0a-2cd1ff5b1f65",
              "name": "text",
              "value": "={{ $('Gmail Reader').item.json.text }}",
              "type": "string"
            },
            {
              "id": "953acd9b-cb51-4ddd-be7a-89d17e045082",
              "name": "Company",
              "value": "={{ $('Gmail Reader').item.json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "d20b093f-82f2-4e2c-9ab3-cdae53073483",
              "name": "email adress",
              "value": "={{ $('Gmail Reader').item.json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "e312ebe0-5947-44fc-995c-bab516e387c8",
              "name": "Subject",
              "value": "={{ $('Gmail Reader').item.json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "fb0207f8-0f99-432f-8928-3cdab1d397cb",
              "name": "date",
              "value": "={{ $('Gmail Reader').item.json.headers.date }}",
              "type": "string"
            },
            {
              "id": "7be81854-ef26-4251-b396-62337564d19d",
              "name": "email_id",
              "value": "={{ $('Gmail Reader').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e808a450-10f9-4408-bcfd-8908a5d2811e",
              "name": "email_body_text",
              "value": "={{ $('Gmail Reader').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        -560
      ],
      "id": "8dd75982-b789-46b6-9b91-688029169c15",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI",
          "mode": "list",
          "cachedResultName": " Bills Electricity and  Gas -Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.output.SupplierName }}",
            "email adress": "={{ $('Edit Fields1').item.json['email adress'] }}",
            "Subject": "={{ $('Edit Fields1').item.json.Subject }}",
            "email date": "={{ $json.output.EmailDate }}",
            "Account Number": "={{ $json.output.AccountNumber }}",
            "Invoice Number": "={{ $json.output.InvoiceNumber }}",
            "Issue Date": "={{ $json.output.InvoiceDate }}",
            "balance brought forward": "={{ $json.output.BalanceBroughtForward }}",
            "Total payable amount": "={{ $json.output.TotalAmountDue }}",
            "Direct debit date/Due Date": "={{ $json.output.DueDate }}",
            "New Charges": "={{ $json.output.NewCharges }}",
            "Billing Period Start date": "={{ $json.output.BillingPeriodStart }}",
            "Billing Period End date": "={{ $json.output.BillingPeriodEnd }}",
            "Next Measurement": "={{ $json.output.NextMeterReadDate }}",
            "Service": "={{ $json.output.ServiceType }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "# property ",
              "displayName": "# property ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email adress",
              "displayName": "email adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email date",
              "displayName": "email date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Number",
              "displayName": "Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue Date",
              "displayName": "Issue Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "balance brought forward",
              "displayName": "balance brought forward",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total payable amount",
              "displayName": "Total payable amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direct debit date/Due Date",
              "displayName": "Direct debit date/Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "New Charges",
              "displayName": "New Charges",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing Period Start date",
              "displayName": "Billing Period Start date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Billing Period End date",
              "displayName": "Billing Period End date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next Measurement",
              "displayName": "Next Measurement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        -576
      ],
      "id": "689e9eec-9a60-4fbb-8812-a7518677e980",
      "name": "Update invoice Fields2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cyiPydGhN9qgZrd",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gather information from e-mail and passes the invoice 📲",
        "height": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        -1072
      ],
      "typeVersion": 1,
      "id": "192899e4-9adc-4a8a-933d-55606ace55e6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Information extraction from doc ℹ️\n- Gemini 2.5 flash reads the document and extracts every item",
        "height": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        -1072
      ],
      "typeVersion": 1,
      "id": "29f8a74d-8539-421c-9733-b7e72ec5df42",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Switch path  ↔\n1. UPPER PATH = The email has an attachment\n2. LOWER PATH = The email doesn't have any attachment",
        "height": 448,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2496,
        -976
      ],
      "typeVersion": 1,
      "id": "24dfd9dc-5b72-47a8-8ee9-2cb21b4f5093",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Logs 👨🏼‍💻\n1. Logging of the processing of the e-mail into another table to track the activity of the automation\n2. Set the e-mail as \"Read\"",
        "height": 352,
        "width": 368,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -1072
      ],
      "typeVersion": 1,
      "id": "96dea04e-cb37-4daa-b5cc-e7d845195a53",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Gather information from e-mail and passes the invoice 📲",
        "height": 304,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2272,
        -688
      ],
      "typeVersion": 1,
      "id": "5568b85d-e32e-4de3-b7a8-054081c33d32",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI",
          "mode": "list",
          "cachedResultName": " Bills Electricity and  Gas -Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1116703158,
          "mode": "list",
          "cachedResultName": "Monitoring",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13gSmbJue2Ik4kdpfG3QoxxxSE9S9ylgG2WseYFEpCxI/edit#gid=1116703158"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_email": "={{ $('Gmail Reader').item.json.id }}",
            "Email date": "={{ $('Edit Fields1').item.json.date }}",
            "From": "={{ $('Edit Fields1').item.json['email adress'] }}",
            "has_attachment": "yes",
            "Processed": "yes",
            "Date of processing": "={{ $now.format('yyyy-MM-dd') }}",
            "Supplier": "={{ $('Edit Fields1').item.json.Company }}"
          },
          "matchingColumns": [
            "ID_email"
          ],
          "schema": [
            {
              "id": "ID_email",
              "displayName": "ID_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email date",
              "displayName": "Email date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_attachment",
              "displayName": "has_attachment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Attachment name",
              "displayName": "Attachment name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Processed",
              "displayName": "Processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date of processing",
              "displayName": "Date of processing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier",
              "displayName": "Supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -848,
        -576
      ],
      "id": "feb2e178-9de2-4e81-a096-d7be654d0f2c",
      "name": "Log the processing of the doc2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7cyiPydGhN9qgZrd",
          "name": "Google Sheets account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Information extraction from e-mail 📧ℹ️\nGemini2.5 Flash reads the email body and subject and extracts every item\n",
        "height": 496,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        -688
      ],
      "typeVersion": 1,
      "id": "a4d14e9a-4aae-4c3c-84a8-231e0e9049c0",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Input formatting",
        "height": 256,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        -448
      ],
      "typeVersion": 1,
      "id": "2f2bb886-bb64-48d0-a7ce-1829076e2419",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Insertion of data into google sheet table 🔎\n",
        "height": 304,
        "width": 288,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -688
      ],
      "typeVersion": 1,
      "id": "0b04f5bd-7ffa-4d85-8bc9-c785de5e9a3c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Logs 👨🏼‍💻\n1. Logging of the processing of the e-mail into another table to track the activity of the automation\n2. Set the e-mail as \"Read\"",
        "height": 304,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -688
      ],
      "typeVersion": 1,
      "id": "1bf36cc2-c0e9-4519-bb18-10050b0ef645",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "![Louis](https://raw.githubusercontent.com/grunti/MyWebsite/main/assets/picture-louis7.png?width=180)\n\nHey, I'm **Louis** 👋\n\nI turned my **passion for no-code & automation** into a full-time gig. From n8n workflows to AI-powered cash routines, I build tools that **pilot cash & lighten life**.\n\n- 📺 **YouTube**: [@cash-routine](https://www.youtube.com/@cash-routine)\n- 🛠️ **Freelance**: [My fiverr](https://fr.fiverr.com/s/R7ZlNL5)\n- 🚀 **Agence Alain (IA)**: [agence-alain.fr](https://agence-alain.fr/)\n- 📧 **E-mail me :** pro.ldelahaye@gmail.com\n\n\n**Don't hesitate to get in touch** if you want to **automate your business** or need **help with a workflow** — I'm here to make it happen! 💬",
        "height": 692,
        "width": 396,
        "color": 5
      },
      "name": "My CTA Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -1072
      ],
      "id": "c8f439f5-7dc5-41bb-afee-96c06eda676a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dfa0d7b-9529-456c-bac8-4af626427522",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "bad input",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2ce0cff1-4174-4b1b-b84f-d842cd93f167",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1488,
        -848
      ],
      "id": "94a87f37-98e8-48ca-9902-c4de45c32e77",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "info@example.com",
        "subject": "Error in invoice processing",
        "message": "=Hi,\nThere was an error in the processing of the invoice from :\n{{ $('Edit Fields').item.json['email adress'] }}\nDate : \n{{ $('Edit Fields').item.json.date }}\nSubject :\n{{ $('Edit Fields').item.json.Subject }}\nBody of the email :\n{{ $('Edit Fields').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1344,
        -928
      ],
      "id": "a91eb404-785e-46a7-8b55-d00c556664ee",
      "name": "Send a message",
      "webhookId": "bd5ab1b3-dff3-4f3d-b2de-a65b679f102d",
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dfa0d7b-9529-456c-bac8-4af626427522",
              "leftValue": "={{ $json.output }}",
              "rightValue": "bad input",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1488,
        -592
      ],
      "id": "cdcb513e-47ce-4457-a871-6384c510c8a5",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "info@example.com",
        "subject": "Error in invoice processing",
        "message": "=Hi,\nThere was an error in the processing of the invoice from :\n{{ $('Edit Fields1').item.json['email adress'] }}\nDate : \n{{ $('Edit Fields1').item.json.date }}\nSubject :\n{{ $('Edit Fields1').item.json.Subject }}\nBody of the email :\n{{ $('Edit Fields1').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1344,
        -672
      ],
      "id": "757a86a9-e0f9-4fad-a8e1-54e7a57a53b1",
      "name": "Send a message2",
      "webhookId": "bd5ab1b3-dff3-4f3d-b2de-a65b679f102d",
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error detector 🪳\nIf there was an error, a notification is sent by email \n-> you can custom the notification system for an error (recipient, body etc)",
        "height": 688,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        -1072
      ],
      "typeVersion": 1,
      "id": "2af68f4e-9f68-4548-8182-2a6d63e6f05f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2832,
        -656
      ],
      "id": "6398f4e2-bad6-41be-a3f1-739c76987b4c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "readStatus": "both"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2624,
        -656
      ],
      "id": "71a80796-d2c8-4fab-80c2-f0aeb46e6452",
      "name": "Gmail Reader",
      "webhookId": "a8a627d1-8778-4cb8-be82-52f6424f3fc2",
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.ID_email }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -544,
        -848
      ],
      "id": "e66b3033-38bd-4c6e-9566-212908b29a7f",
      "name": "Mark a message as read",
      "webhookId": "11f22d95-4d8a-4a88-b194-a451559cae03",
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.ID_email }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -608,
        -576
      ],
      "id": "37f019ed-aa17-4c95-a102-f806f9661252",
      "name": "Mark a message as read1",
      "webhookId": "11f22d95-4d8a-4a88-b194-a451559cae03",
      "credentials": {
        "gmailOAuth2": {
          "id": "gMY0B6K2Fky2cnbu",
          "name": "Gmail account Louis"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input formatting 🔁\n\nAfter the AI returns structured data, the fields are separated\n\n- `Code in JavaScript`: Formats the data for insertion into Google Sheets.\n\n### Then insertion of data into google sheet table",
        "height": 352,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -1072
      ],
      "typeVersion": 1,
      "id": "e8c3c5de-7e6b-4094-b6fb-18d629a917c8",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# 📑 Invoice from e-mails processing automation",
        "height": 88,
        "width": 1296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3584,
        -1072
      ],
      "name": "Intro Sticky1",
      "id": "4f9c49d5-def9-4cfd-ac0c-b95108f0bf2f"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-11T15:16:40.004+01:00",
          "Readable date": "December 11th 2025, 3:16:40 pm",
          "Readable time": "3:16:40 pm",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "11",
          "Hour": "15",
          "Minute": "16",
          "Second": "40",
          "Timezone": "Europe/Berlin (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - get targeted elements from text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - get targeted elements from text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log the processing of the doc": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update invoice Fields": {
      "main": [
        [
          {
            "node": "Log the processing of the doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update invoice Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent - get targeted elements from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - get targeted elements from text": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update invoice Fields2": {
      "main": [
        [
          {
            "node": "Log the processing of the doc2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update invoice Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Reader": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log the processing of the doc2": {
      "main": [
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1293717e-dd94-4d3e-bb96-a191abe9315d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca66bfe20538326afcf0ea9818c4e437640a050446b589da002699d11b2eea7"
  },
  "id": "NiSrALiasTLDeFuW",
  "tags": []
}